body{
    background-color: #121418;
    font-family: sans-serif;
}

.card-form{
    background-color: #1B1E24;
    border: 1px solid #1B1E24;
    width: 80%;
    max-width: 600px;
    margin: 35px auto;
    border-radius: 10px;
    padding: 32px;
}

.titulo{
    color: white;
    font-size: 28px;
    margin: 0;
}

form{
    display: flex;
    gap: 10px;
}

#nombre-tarea{
    flex: 1;
    background: #1B1E24;
    border: none;
    border: 1px solid grey;
    border-radius: 4px;
    color: grey;
}

#btn-submit{
    background-color: #4C82F7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}